<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Acci-Saver </title>
    <link rel="apple-touch-icon" sizes="16x16" href="/Acci-Saver-main/static/Images/favicon/apple-icon-16x16.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <img src="https://i.imgur.com/RToiMzN.jpg3">
    <br>
    <p style="font-family: Arial; font-size:50px">Acci - Saver</p>
    <form action="help" method="post">
        <input type="submit" value="GET HELP" id="greet">
    </form>

</body>
</html>
