<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Acci-Saver </title>
    <link rel="apple-touch-icon" sizes="16x16" href="/Acci-Saver-main/static/Images/favicon/apple-icon-16x16.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body style = "padding:0; margin:0; height:100%;">
    <img src="https://i.imgur.com/d8uWDIB.png">
    <br>
    <p style="color :dimgrey; font-family:fantasy; font-size:50px; text-shadow: 1px 2px hsl(0, 0%, 100%);">Acci - Saver</p>
    <form action="help" method="post">
        <input type="submit" value="GET HELP" id="greet" style = "font-family:fantasy">
    </form>

    <br><br><br><br><br><br><br><br>
<footer style="height:100px; background-color:#14221f;position: absolute; bottom: 0; left: 0; right: 0;
">
    <h1 style="font-family: monospace; color:rgb(202, 199, 199); padding:40px; margin:0; text-align:center;font-size: 180%;">Join the Acci-Saver Discord server to see updates on accidents in real time : <a href = "https://discord.gg/kf6DV47F9t" style = "color: rgb(16, 114, 146);text-decoration: none;font-family:monospace;font-size:80%;">https:&#47;&#47;discord.gg&#47;kf6DV47F9t</a></h1>
    x
</footer> 
</body>
</html>
